<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <title>Dashboard</title>
    <style>
        body{margin-top:20px;}

body {
    color: #6c7293;
}

.profile-navbar .nav-item .nav-link {
  color: #6c7293;
}

.profile-navbar .nav-item .nav-link.active {
  color: #464dee;
}

.profile-navbar .nav-item .nav-link i {
  font-size: 1.25rem;
}

.profile-feed-item {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e9e9e9;
}
.img-sm {
    width: 43px;
    height: 43px;
}
    </style>
</head>
<body>
    <h1>Welcome <%= username %> </h1>

    <form action="/postThought" method="post">
        <textarea name="thought"></textarea>
        <button type="submit">Post</button>
    </form>
    <!-- <ul>
        <% for (var i = 0; i < thoughtList.length; i++) { %>
            <li class="timeline-yellow">
                <div class="timeline-time">
                    <span class="date" style="text-align:left">
                    <%= thoughtList[i].thought %>
                   </span>
                    <span class="time" style="font-weight:700;font-size:25px;line-height:20px;text-align:left;">
                    <%= thoughtList[i].thought %> </span>
                </div>
            </li>
            <% } %>
        
    </ul> -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
    <div class="container">
        <% for (var i = 0; i < thoughtList.length; i++) { %>

          <div class="row " style="margin-bottom: 1rem">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row " style="border:1px solid;padding: 5px;">
                    <div class="col-lg-4">
                      <div class="border-bottom text-center pb-4">
                        <div class="mb-3">
                          <h3><%= thoughtList[i].userName %></h3>
                          <div class="d-flex align-items-center justify-content-center">
                            <h5 class="mb-0 mr-2 text-muted"><%= thoughtList[i].emailId %></h5>
                          </div>
                          </div>
                        </div>
                        <p class="w-75 mx-auto mb-3"><%= thoughtList[i].thought %></p>
                        
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>

        </div>
</body>
</html>